
<div class="container">
  <h1>Edit</h1>
  <form class="new_post" method="post">
    <div class="form_row">
    <input id= "f_post_title" name ="post[title]" type="text" placeholder="title" value="<%= @post.title%>">
    </div>

    <div class="form_row"><textarea id= "f_post_body" name ="post[body]"  placeholder="post body"><%= @post.body%></textarea>
    </div>
    <div class="form_row"><input id= "f_post_tags" name ="tags" type="text" placeholder="list of tags seperated by commas" value="<%=@post.tags.pluck(:name).join(",")%>">
      </div>
  <button type="submit">Edit</button>
</form>
</div>