
<form method="post">
  <fieldset>
    <label for="f_title">post title</label>
    <input id= "f_post_title" name ="post[title]"type="text">
    <label for="f_post_body">post title</label>
    <textarea id= "f_post_body" name ="post[body]"></textarea>
    <label for="f_tags">tags:</label> 
    <input id= "f_post_title" name ="tags"type="text">
  </fieldset>
  <button type="submit">Create</button>
</form>