<div class="container">
<article>
  <header>
    <h1> <%= @post.title %></h1>
    <span><%=@post.created_at.strftime("%Y-%m-%d") %>| <a href="/posts/<%=@post.id%>/edit">edit</a>
    </span>
  </header>
  <p>
    <%=@post.body%>
  </p>
</article>
</div>